<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; img-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" /> -->
        <%- include ('../partials/head.ejs') %>
        <title></title>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="content">
            <div class="container">
                <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary bug-submit">Submit Bug</button>
                <h2><%=currentProject.name%> Bugs:</h1>
                <div class="row">
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-open">Open</h3>
                        <ul class="list-group bug-list">
                            <% for (bug of openBugs) { %>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="/tracker/<%=currentProject._id%>/bugs/<%=bug._id%>" class="bug-link">
                                    <div class="container-fluid  card-body">

                                        <p class="card-text bug-text"><%=bug.description%></p>
                                        <h6 class="card-title bug-title" style="color: grey;"><%=bug.author%></h6>
                                    </div>
                                    </a>
                                </div>
                                <form action="/tracker/bug/<%=bug._id%>/change?_method=PUT" method="POST">
                                    <button type="submit" class="bug-btn btn btn-danger"><i class="fas fa-arrow-circle-right"></i></button>
                                </form>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-progress">In Progress</h3>
                        <ul class="list-group bug-list">
                            <% for (bug of inProgressBugs) { %>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="/tracker/<%=currentProject._id%>/bugs/<%=bug._id%>" class="bug-link">
                                    <div class="container-fluid  card-body">
                                        <p class="card-text bug-text"><%=bug.description%></p>
                                        <h6 class="card-title bug-title" style="color: grey;"><%=bug.author%></h6>
                                    </div>
                                    </a>
                                </div>
                                <form action="/tracker/bug/<%=bug._id%>/change?_method=PUT" method="POST">
                                    <button type="submit" class="bug-btn btn btn-warning"><i class="fas fa-arrow-circle-right"></i></button>
                                </form>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-testing">Testing</h3>
                        <ul class="list-group bug-list">
                            <% for (bug of testingBugs) { %>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="/tracker/<%=currentProject._id%>/bugs/<%=bug._id%>%>" class="bug-link">
                                    <div class="container-fluid  card-body">
                                        <p class="card-text bug-text"><%=bug.description%></p>
                                        <h6 class="card-title bug-title" style="color: grey;"><%=bug.author%></h6>
                                    </div>
                                    </a>
                                </div>
                                <form action="/tracker/bug/<%=bug._id%>/change?_method=PUT" method="POST">
                                    <button type="submit" class="bug-btn btn btn-primary"><i class="fas fa-arrow-circle-right"></i></button>
                                </form>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                    <div class="col bug-stage">
                        <h3 class="bug-col-name bug-closed">Closed</h3>
                        <ul class="list-group bug-list">
                            <% for (bug of closedBugs) { %>
                            <li class="list-group-item bug-card">
                                <div class="card bug-item">
                                    <a href="/tracker/<%=currentProject._id%>/bugs/<%=bug._id%>%>" class="bug-link">
                                    <div class="container-fluid  card-body">
                                        <p class="card-text bug-text"><%=bug.description%></p>
                                        <h6 class="card-title bug-title" style="color: grey;"><%=bug.author%></h6>
                                    </div>
                                    </a>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Submit New Bug</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/tracker/<%=currentProject._id%>/new" method="POST">
                      <div class="form-group">
                          <label for="description">Description</label>
                          <input type="text" class="form-control" id="description" name="description" placeholder="Bug Description">
                        </div>
                        <div class="form-group">
                          <label for="recreation">Steps to Recreate</label>
                          <textarea class="form-control" id="recreation" name="recreation" rows="3"></textarea>
                        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
