<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; img-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" /> -->
        <%- include ('../partials/head.ejs') %>
        <title></title>
    </head>
    <body>
        <%- include ('../partials/nav.ejs') %>
        <div class="content">
            <div class="container">
                <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-success project-submit">New Project</button>
                <span></span>
                <button type="button" data-toggle="modal" data-target="#exampleModalJoin" class="btn btn-primary project-submit">Join</button>
                <% console.log(currentUser) %>
                <% console.log(projects) %>
                <h2><%=currentUser.username%>'s Projects:</h2>
                <div class="row align-items-center justify-content-center">
                    <div class="col proj-stage container align-self-center">
                        <% for (let i = 0; i < projects.length; i++) {%>
                            <div class="proj-item">
                                <h4><%=projects[i].name%></h4>
                            </div>
                            <%}%>
                    </div>
                    <div class="col proj-stage container align-self-center">
                        <% for (let i = 0; i < projects.length; i++) {%>
                            <div class="proj-item">
                                <h6><%=projects[i].description%></h6>
                            </div>
                            <%}%>
                    </div>
                    <div class="col proj-stage container align-self-center">
                        <% for (let i = 0; i < projects.length; i++) {%>
                            <div class="proj-item">
                                <button type="button" class="btn btn-primary bug-submit" onclick="window.location.href = '/tracker/<%=projects[i]._id%>';">Details</button>
                            </div>
                            <%}%>
                    </div>
                    <div class="col proj-stage container align-self-center">
                        <% for (let i = 0; i < projects.length; i++) {%>
                            <div class="proj-item">
                                <form class="" action="/tracker/<%=projects[i]._id%>/select?_method=PUT" method="POST">
                                    <button type="submit" class="btn btn-success bug-submit">View</button>
                                </form>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/tracker" method="POST">
                      <div class="form-group">
                          <label for="name">Project Name</label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Project name">
                        </div>
                        <div class="form-group">
                          <label for="description">Description</label>
                          <input type="text" class="form-control" id="description" placeholder="Description" name="description">
                        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="exampleModalJoin" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Join Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form action="/tracker/join" method="POST">
                      <div class="form-group">
                          <label for="projectId">Join ID</label>
                          <input type="text" class="form-control" id="projectId" name="projectId" placeholder="paste project ID here">
                        </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
